.pageWrapper {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 1200px;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}

.selectWrapper {
  width: 360px;
}

.listItem {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper {
  button {
    margin: 6px;
  }
}
