.pageWrapper {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 1200px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.selectWrapper {
  width: 360px;
}

.listItem {
  list-style: none;
}
